.profile-section {
    text-align: left;
    background-color: whitesmoke;
}

.education-section {
    text-align: left;
    background-color: whitesmoke;
}

.my-skills-section {
    text-align: left;
    background-color: whitesmoke;
}

.contact-me-section {
    text-align: left;
    background-color: whitesmoke;
}

